/*Start writing sass here*/

@import "../bower_components/ng-dialog/css/ngDialog.css";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/fontawesome/css/font-awesome.min.css";
@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@include font-face("LW", "../fonts/LINOWRITE_2");
$base-color: #f6e730;
$bg-color: #fff;
$font-family: "LW",
sans-serif !default;
img.loading {
	text-align: center;
	opacity: 1;
	width: 32px !important;
	height: auto;
}

img {
	opacity: 0;
}

img.doneLoading {
	opacity: 1;
}

p {
	font-size: 14px;
	font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family;
	font-weight: 600;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-family: $font-family;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border-radius: 0;
	border: 1px solid #000;
	text-transform: lowercase;
	background-color: transparent;
	&:focus {
		border-color: inherit;
		color: inherit;
		outline: 0;
		outline-offset: 0;
	}
	&:hover {
		border-color: lighten(#000, 30%)!important;
		color: lighten(#000, 30%)!important;
	}
}

.btn.active,
.btn:active {
	outline: 0;
	box-shadow: none;
}

.btn:active:focus,
{
	outline: 0;
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}

.btn.btn-white {
	color: #fff;
	border-color: #fff;
	&:hover {
		border-color: darken(#fff, 15%)!important;
		color: darken(#fff, 15%)!important;
	}
}

body {
	margin: 0;
	font-family: $font-family;
}

figure {
	margin: 0;
}

.star-bg {
	background-image: url("../img/background/star.jpg");
	background-repeat: repeat;
	background-size: auto;
	overflow: hidden;
}

.road-bg {
	background: url("../img/background/paper-road.png") no-repeat;
	background-size: 100% 100%;
	min-height: 500px;
}

.letters-bg {
	background: url("../img/background/letters.jpg") no-repeat;
	background-size: 100% 100%;
	min-height: 400px;
}

.black-bg {
	background: #000;
	min-height: 400px;
}

.pull-right {
	float: right;
}

.full-image {
	width: 100%;
}

.padding {
	padding: 20px;
}

//	.ngdialog-content {
//		background: url("../img/background/paper-repeat.jpg") no-repeat;
//		background-size: cover;
//		position: absolute;
//		top: 50%;
//		width: 100%;
//		@include transform(translateY(-50%));
//	}
.paper-bg {
	background: url("../img/background/paper-repeat.jpg") no-repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.ngdialog-close {
	position: absolute;
	top: 15px;
	right: 20px;
	color: #ddd;
	font-size: 30px;
	background: #000;
	border-radius: 100%;
	height: 30px;
	width: 30px;
	padding: 0 6px;
	line-height: 1;
	z-index: 2;
	&:hover {
		background: lighten(#000, 10%);
		color: darken(#ddd, 10%);
	}
}

.ngdialog-overlay {
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.text-center {
	text-align: center;
}

.margin-auto {
	margin: 0 auto;
}

.margin-bottom {
	margin-bottom: 10px;
}

.section1 {
	padding-top: 80px;
	position: relative;
	overflow: hidden;
	.donut-astronaut {
		position: absolute;
		right: 15%;
		top: 17%;
		width: 10%;
	}
	.astronaut {
		width: 100%;
	}
	.donut {
		position: absolute;
		right: 125px;
	}
	.blub {
		text-align: center;
		z-index: 1;
		position: relative;
		img {
			width: 70%;
		}
	}
	.letgo {
		margin-top: 100px;
	}
	.astrioid {
		position: absolute;
		bottom: 0;
	}
}

.relative {
	position: relative;
}

.road-sofa {
	margin-top: 100px;
}

.buildings {
	z-index: -1;
	position: relative;
	width: 100%;
	.building1 {
		position: absolute;
		bottom: 40px;
		z-index: 2;
	}
	.building2 {
		z-index: 0;
	}
	.building {
		position: absolute;
		bottom: 40px;
		z-index: -1;
	}
	.building3 {
		position: absolute;
		bottom: 40px;
		z-index: 1;
	}
}

.coutch {
	z-index: 14;
	width: 100%;
	img {
		max-width: 100%;
	}
}

.road-bg.onroad {
	position: relative;
	overflow: hidden;
	.pot-holes2 {
		position: absolute;
		right: 40%;
		bottom: 30%;
	}
	.pot-holes1 {
		position: absolute;
		top: 0;
		left: 0;
	}
	.nav {
		position: absolute;
		top: -15px;
		left: 26%;
		z-index: 2;
		ul {
			list-style: none;
			li {
				margin: 12px 0;
				text-align: right;
				a {
					color: #000;
					text-decoration: none;
					font-size: 20px;
					font-family: $font-family;
					font-weight: 600;
					cursor: pointer;
				}
			}
		}
	}
	.taxi {
		position: absolute;
	}
	.taxi1 {
		bottom: 40%;
		left: 10%;
	}
	.taxi2 {
		right: -15%;
		bottom: 66%;
	}
	.taxi.taxi3 {
		bottom: 20%;
		left: 40%;
	}
}

.letters-bg {
	position: relative;
	.hands {
		figure {
			text-align: center;
		}
	}
	figure.hands-main {
		img {
			width: 95%;
		}
	}
	figure.hand-outside {
		position: absolute;
		top: 0;
		left: 29.2%;
		z-index: 2;
	}
	figure.hand-cap {
		position: absolute;
		top: -2px;
		right: 25.7%;
		z-index: 2;
	}
	.type-writer {
		position: relative;
		width: 1250px;
		margin: 0 auto;
		.yellow-paper {
			text-align: center;
			margin-top: -68px;
			z-index: 1;
			position: inherit;
			img {
				width: 100%;
			}
		}
		.cont-center {
			width: 50%;
			position: absolute;
			top: 3.5%;
			left: 50%;
			@include transform(translateX(-50%));
			text-align: center;
			z-index: 2;
			h4 {
				text-align: center;
				font-size: 36px;
				margin-bottom: 20px;
				margin-top: 10px;
				font-family: $font-family;
			}
			p {
				text-align: center;
				margin: 20px 0;
				font-family: $font-family;
			}
		}
		.rikshaw {
			position: absolute;
			top: 25%;
			left: 25%;
			z-index: 2;
			width: 15%;
		}
		.cat {
			position: absolute;
			top: 51.5%;
			right: 44%;
			z-index: 2;
			width: 8%;
		}
		.app-main {
			height: 210px;
			position: relative;
			.apps {
				.typewriter {
					position: absolute;
					left: 34.4%;
					bottom: 20px;
					width: 29.5%;
					img {
						width: 100%;
					}
				}
				.cont-right {
					width: 355px;
					color: #fff;
					float: right;
					margin-top: -50px;
					margin-bottom: 40px;
					//						margin-right: 40px;
					padding-right: 25px;
					h4 {
						text-align: center;
						font-size: 36px;
						margin-bottom: 20px;
						margin-top: 0;
						font-family: $font-family;
						font-weight: 400;
					}
					p {
						text-align: justify;
						font-family: $font-family;
					}
				}
			}
		}
		.ios {
			position: absolute;
			bottom: 215px;
			left: 50%;
			@include transform(translateX(-50%));
			z-index: 1;
			text-transform: lowercase;
			font-size: 26px;
		}
	}
}

.black-white-lines {
	position: relative;
	overflow: hidden;
	.buregler1 {
		position: absolute;
		left: 10%;
		bottom: 23%;
		width: 9%;
		img {
			width: 100%;
		}
	}
	.buregler2 {
		position: absolute;
		left: 10%;
		bottom: 25%;
		width: 30%;
		img {
			width: 100%;
		}
	}
	.batman-animation {
		@include animation(translate-batman 15s linear 0s infinite);
		.batman {
			position: absolute;
			right: 4%;
			bottom: 0%;
			width: 53%;
			img {
				width: 100%;
			}
		}
	}
}

@include keyframes (translate-batman) {
	0% {
		//		@include transform( translate(35%, 10%));
		left: 20;
	}
	100% {
		//		@include transform( translate(30%, 0%) rotate(-10deg));
		left: -600;
	}
}

.line-pin {
	position: relative;
	z-index: 2;
}

.blubs {
	position: relative;
	.bulb-2 {
		position: absolute;
		top: 0;
		left: 31.7%;
		width: 10%;
	}
	.bulb-1 {
		text-align: center;
		img {
			max-width: 100%;
			margin: 0 auto;
			width: auto!important;
		}
	}
	.bulb-facebook {
		position: absolute;
		top: 0;
		left: 32.6%;
		width: 4%;
	}
	.bulb-insta {
		position: absolute;
		top: 0;
		left: 28%;
		width: 4%;
	}
	.bulb-pinterest {
		position: absolute;
		top: 0;
		right: 33.2%;
		width: 4%;
	}
	.bulb-twitter {
		position: absolute;
		top: 0;
		left: 37.3%;
		width: 4%;
	}
	.bulb-youtube {
		position: absolute;
		top: 0;
		right: 27%;
		width: 4%;
	}
	.conts {
		color: #fff;
		position: relative;
		height: 310px;
		.cont-center {
			position: absolute;
			width: 360px;
			left: 44%;
			h4 {
				text-align: center;
				font-size: 36px;
				margin-bottom: 20px;
				margin-top: 0;
				font-family: $font-family;
				font-weight: 400;
			}
			p {
				text-align: justify;
			}
		}
	}
}

.musical {
	position: relative;
	background-color: #000;
	padding: 30px 0;
	//	margin-top: 50px;
	.cont-center {
		position: absolute;
		top: 49%;
		width: 30%;
		z-index: 12;
		left: 43%;
		transform: translate(-43%, -50%);
		h4 {
			text-align: center;
			font-size: 36px;
			margin-bottom: 20px;
			margin-top: 10px;
			font-family: $font-family;
		}
		p {
			margin: 20px 0;
			font-family: $font-family;
		}
	}
	.yellow-lights {
		z-index: 5;
		position: relative;
		img {
			width: 75%;
		}
	}
	.pianoo {
		position: absolute;
		width: 100%;
		bottom: 20px;
		z-index: 5;
		img {
			width: 40%;
		}
	}
	.tvs {
		position: absolute;
		width: 100%;
		bottom: 80px;
		z-index: 0;
	}
}

.contact {
	min-height: 700px;
	padding: 150px 0;
	.hello {
		width: 60%;
		margin: 0 auto;
		.ting-hello {
			position: relative;
			margin-bottom: 15px;
			img.ring {
				position: absolute;
				right: -18px;
				bottom: -30px;
				width: 100px;
				z-index: 0;
			}
		}
		.link-ting {
			z-index: 4;
			position: relative;
			p {
				margin: 0;
				margin-top: 10px;
				text-align: right;
				color: #fff;
				a {
					text-decoration: none;
					color: $base-color;
				}
			}
		}
		.address {
			ul {
				display: flex;
				padding-left: 0;
				margin-bottom: 0;
				margin-top: 20px;
				list-style: none;
				li {
					color: #fff;
					padding-right: 25px;
					font-family: $font-family;
				}
			}
			h4 {
				margin: 0;
				color: $base-color;
				font-family: $font-family;
				font-weight: 400;
			}
			p {
				margin-top: 5px;
			}
		}
	}
}

.footer-bg {
	.paper-crush {
		img {
			margin-bottom: -3px;
		}
	}
}

.row-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex-box {
	padding: 0 20px;
}

.col-flex {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.min-height {
	min-height: 210px !important;
}

.projects {
	margin-bottom: 25px;
}

.head {
	min-height: 45px;
	margin: 30px 0;
	h2.margin-less {
		margin-top: 6px;
	}
	h2 {
		float: left;
		padding-right: 10px;
		font-size: 36px;
		font-family: "LW", sans-serif;
		text-transform: lowercase;
		font-weight: 500;
	}
	.radio-website {
		padding: 17px 0;
		input[type="radio"] {
			margin-left: 20px;
			&:focus {
				outline: thin dotted;
				outline: 0 auto -webkit-focus-ring-color;
				outline-offset: 0;
			}
		}
	}
}

.main {
	h4 {
		font-size: 16px;
		font-family: $font-family;
		font-weight: 600;
	}
}

.arrow-down {
	border: 1px solid #000;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	padding: 2px 6px;
	margin: 30px 0;
	@include transition(all ease 300ms);
	cursor: pointer;
	&:hover {
		border-color: lighten(#000, 15%);
	}
	i {
		font-size: 26px;
	}
}

.social-icons {
	margin: 5px 0 10px;
	i {
		background-color: $base-color;
		height: 30px;
		width: 30px;
		border: 1px solid $base-color;
		border-radius: 50%;
		font-size: 16px;
		text-align: center;
		line-height: 1.8;
		margin-right: 2px;
		cursor: pointer;
		color: #000;
		@include transition(all ease 300ms);
		&:hover {
			background: darken($base-color, 15%);
			color: lighten(#000, 15%);
		}
	}
}

.box {
	position: relative;
	cursor: pointer;
	box-shadow: -6px -1px 4px -3px rgba(0, 0, 0, 0.6);
	.play {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,
		-50%));
		i {
			font-size: 45px;
			color: #fff;
		}
	}
}

@import "main/animation";
@import "main/mobile";