<section>
	<div class="star-bg">
		<div class="section1">
			<div class="donut-astronaut pull-right">
				<!--			<div class="donut-astronaut pull-right" pin=".section1" ng-scroll-animation-from="{'rotation': 0, 'ease': Linear.easeNone}" ng-scroll-duration="1000" ng-scroll-animation-to="{'rotation': 360, 'ease': Linear.easeNone}" ng-scroll-duration="1000" ng-scroll-offset="10">-->
				<div class="donut">
					<figure>
						<img src="img/donut.png" alt="donut">
					</figure>
				</div>
				<div class="letgo">
					<figure>
						<img src="img/letgo.png" class="" alt="letgo">
					</figure>
				</div>
				<div class="astronaut">
					<figure>
						<img src="img/astronaut.png" class="" alt="astronaut">
					</figure>
				</div>
			</div>
			<div class="bulb-astroid">
				<div class="blub">
					<figure>
						<img src="img/bulbs.png" class="full-image" alt="tingbulb">
					</figure>
				</div>
				<div class="astrioid">
					<figure>
						<img src="img/astroid.png" class="full-image" alt="astroid">
					</figure>
				</div>
			</div>
		</div>
</section>

<section class="section2">
	<div class="star-bg" style="height:910px;">
		<div class="buildings">
			<div class="building" ng-scroll-animation-from="{'y':500, 'ease': Linear.easeNone}" ng-scroll-duration="100" ng-scroll-animation-to="{'y': 0, 'ease': Linear.easeNone}" ng-scroll-offset="100" pin=".section2">
				<figure>
					<img src="img/house1.png" class="full-image" alt="astroid">
				</figure>
			</div>
			<div class="building1" ng-scroll-animation-from="{'y':500, 'ease': Linear.easeNone}" ng-scroll-duration="100" ng-scroll-animation-to="{'y': 0, 'ease': Linear.easeNone}" ng-scroll-offset="600" pin=".section2">
				<figure>
					<img src="img/house2.png" class="full-image" alt="astroid">
				</figure>
			</div>
			<div class="building2" ng-scroll-animation-from="{'y':500, 'ease': Linear.easeOut}" ng-scroll-duration="200" ng-scroll-animation-to="{'y': 0, 'ease': Linear.easeOut}" ng-scroll-offset="600" pin=".section2">
				<figure>
					<img src="img/house3.png" class="full-image" alt="astroid">
				</figure>
			</div>
<!--			<div class="coutch" ng-scroll-animation-from="{'y':-800, ease':Linear.easeOut}" ng-scroll-duration="300" ng-scroll-animation-to="{'y': 0, 'ease': Linear.easeOut}" ng-scroll-offset="100" pin=".section2">-->
<!--				<div class="coutch" ng-scroll-animation-from="{'y':-200, 'ease': Linear.easeOut}" ng-scroll-duration="300" ng-scroll-animation-to="{'y': 0, 'ease': Linear.easeOut}" ng-scroll-offset="600" pin=".section2">-->
							<div class="coutch">
				<figure class="text-center">
					<img src="img/coutch.png" class="" alt="astroid">
				</figure>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="road-bg onroad">
		<div class="pot-holes1">
			<figure>
				<img src="img/pot-holes1.png" class="full-image">
			</figure>
		</div>
		<div class="pot-holes2">
			<figure>
				<img src="img/pot-holes2.png">
			</figure>
		</div>
		<div class="taxi taxi1">
			<figure>
				<img src="img/taxi.png">
			</figure>
		</div>
		<div class="nav">
			<ul>
				<li>
					<a ng-click="showWebsite();">websites</a>
				</li>

				<li>
					<a ng-click="showApp();">apps</a>
				</li>

				<li>
					<a ng-click="showMarketing();">digital marketing</a>
				</li>

				<li>
					<a ng-click="showVideos();">videos</a>
				</li>

				<li>
					<a href="#">hello</a>
				</li>
			</ul>
		</div>
		<div class="taxi taxi2">
			<figure>
				<img src="img/taxi.png">
			</figure>
		</div>
		<div class="taxi taxi3">
			<figure>
				<img src="img/taxi.png">
			</figure>
		</div>
	</div>
</section>
<section>
	<div class="letters-bg">
		<div class="hands">
			<figure class="hands-main">
				<img src="img/hands.png">
			</figure>
			<figure class="hand-outside">
				<img src="img/hand-outside.png">
			</figure>
			<figure class="hand-cap">
				<img src="img/hand-cap.png">
			</figure>
		</div>
		<div class="">
			<div class="type-writer">

				<div class="yellow-paper">
					<figure>
						<img src="img/paper-yellow.png">
					</figure>
				</div>
				<div class="cont-center">
					<h4>websites</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					<div>
						<button class="btn btn-ouline">Click Here</button>
					</div>
				</div>
				<div class="rikshaw">
					<figure>
						<img src="img/rikshaw.png" class="full-image">
					</figure>
				</div>
				<div class="cat">
					<figure>
						<img src="img/cat.png" class="full-image">
					</figure>
				</div>

				<div class="ios">
					<h3> <span typed-js></span></h3>
				</div>
				<div class="app-main">
					<div class="apps">
						<div class="typewriter">
							<figure>
								<img src="img/typewriter.png">
							</figure>
						</div>
						<div class="cont-right">
							<h4>apps</h4>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							</p>
							<div class="text-center">
								<button class="btn btn-ouline btn-white">Click Here</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="black-white-lines">
			<div class="lines">
				<figure>
					<img src="img/bg-lines.png" class="full-image">
				</figure>
			</div>
			<div class="buregler1">
				<figure>
					<img src="img/buregler1.png" class="">
				</figure>
			</div>
			<div class="buregler2">
				<figure>
					<img src="img/buregler2.png" class="">
				</figure>
			</div>
			<div class="batman">
				<figure>
					<img src="img/batman.png" class="">
				</figure>
			</div>
		</div>
	</div>
</section>
<section class="black-bg">
	<div class="blubs">
		<div class="bulb-1">
			<figure>
				<img src="img/marketing/bulbs-all.png" class="full-image">
			</figure>
		</div>
		<div class="bulb-2">
			<figure>
				<img src="img/marketing/bulbon.png" class="full-image">
			</figure>
		</div>
		<div class="bulb-facebook">
			<img src="img/marketing/FACEBOOK-BULBS.png" class="full-image">
		</div>
		<div class="bulb-insta">
			<img src="img/marketing/INSTA-BULBS.png" class="full-image">
		</div>
		<div class="bulb-pinterest">
			<img src="img/marketing/PINTREST-BULB.png" class="full-image">
		</div>
		<div class="bulb-twitter">
			<img src="img/marketing/TWITTER-BULB.png" class="full-image">
		</div>
		<div class="bulb-youtube">
			<img src="img/marketing/Youtube-BULB.png" class="full-image">
		</div>
		<div class="conts">
			<div class="cont-center">
				<h4>digital marketing</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				</p>
				<div class="text-center">
					<button class="btn btn-ouline btn-white">Click Here</button>
				</div>
			</div>
		</div>
	</div>
	<div class="musical">
		<div class="text-center yellow-lights">
			<figure>
				<img src="img/yellowlights.png">
			</figure>
		</div>
		<div class="text-center pianoo">
			<figure>
				<img src="img/pianoo.png">
			</figure>
		</div>
		<div class="tvs">
			<figure>
				<img src="img/tvs1.png" alt="music" class="full-image">
			</figure>
		</div>
	</div>
	<div class="contact black-bg">
		<div class="hello">
			<figure>
				<img src="img/hello.png" class="full-image" alt="">
			</figure>
			<div class="link-ting">
				<p>go back to <a href="#">ting.in</a></p>
			</div>
			<div class="address">
				<ul>
					<li>
						<h4>Mumbai</h4>
						<p>
							D-212, Neelkanth,
							<br> Business Park, Near bus depot,
							<br> Vidyavihar(west),
							<br> Kirol Village,
							<br> Mumbai-400 086
						</p>
						<p>
							+91 44 6457 0159
							<br> +91 98404 88224
						</p>
					</li>
					<li>
						<h4>Chennai</h4>
						<p>
							#16, III Main Road,
							<br> Seethammal Colony,
							<br> Vidyavihar(west),
							<br> Alwarpet,
							<br> Chennai-600 018.
						</p>
						<p>
							+91 98202 82644
							<br> +91 98675 97223
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>