<!-- <a href="http://www.csslight.com/website/15053/TING-Digital" title="CSS Light" class="css-light" style="" target="_blank">CSS Light Web Gallery</a> -->
<!-- <div class="opl"><a href="https://onepagelove.com/ting-digital" target="_blank">Ting Digital</a></div> -->
<section>
  <div class="star-bg">
    <div class="section1">
      <div class="animate-astronaut">
        <div class="donut-astronaut pull-right">
          <div class="donut">
            <figure>
              <img alt="donut" src="img/donut.png">
            </figure>
          </div>
          <div class="letgo">
            <figure>
              <img alt="letgo" class="" src="img/letgo.png">
            </figure>
          </div>
          <div class="astronaut">
            <figure>
              <img alt="astronaut" class="" src="img/astronaut.png">
            </figure>
          </div>
        </div>
      </div>
      <div class="bulb-astroid">
        <div class="blub">
          <figure>
            <img alt="tingbulb" class="full-image" src="img/bulbs.png">
          </figure>
        </div>
      </div>
    </div>
</section>
<div class="clearfix"></div>
<div class="buildings">
  <div class="building">
    <img class="full-image" src="img/house.png">
  </div>
  <div class="coutch">
    <figure class="text-center">
      <img class="" src="img/coutch.png">
    </figure>
  </div>
</div>
<section class="section2">
  <div class="road-bg onroad road-pin">
    <div class="pot-holes1">
      <img src="img/pot-holes1.png" class="full-image">
    </div>
    <div class="taxi taxi1">
      <img src="img/taxi.png">
    </div>
    <div class="nav">
      <ul>
        <li>
          <a ng-click="showWebsite();">websites</a>
        </li>

        <li>
          <a ng-click="showApp();">apps</a>
        </li>

        <li>
          <a ng-click="showMarketing();">digital marketing</a>
        </li>

        <li>
          <a ng-click="showVideos();">videos</a>
        </li>

        <li>
          <a ng-click="gotoBottom()">hello</a>
        </li>
      </ul>
    </div>

    <div class="taxi taxi2">
      <figure>
        <img src="img/gif/taxianimation.gif" class="full-image">
      </figure>
    </div>
    <div class="taxi taxi3">
      <figure>
        <img src="img/taxi.png">
      </figure>
    </div>
  </div>

</section>

<section class="section4" toggle-class="active" trigger-element=".section4" toggle-element="#mainMenu">
  <div class="letters-bg">
    <div class="hands">
      <figure class="hands-main">
        <img src="img/hands.png">
      </figure>
      <figure class="hand-outside">
        <img src="img/hand-outside.png">
      </figure>
      <figure class="hand-cap">
        <img src="img/hand-cap.png">
      </figure>
    </div>
    <div class="">
      <div class="type-writer">
        <div class="yellow-paper">
          <figure>
            <img src="img/paper-yellow.png">
          </figure>
        </div>
        <div class="cont-center">
          <h4>websites</h4>
          <p>We love making websites. We love making websites .We love making Websites. We love making websites. We love making websites. We love making websites .We love making Websites. We love making websites. We love making websites. We love making websites
            .We love making Websites. We love making websites.................... websites. </p>
          <p class="text-center">Can't you tell?</p>
          <div>
            <button class="btn btn-ouline" ng-click="showWebsite();">Click Here</button>
          </div>
        </div>
        <!--				<div class="rikshaw" ng-scroll-animation-from="{'x':0, 'ease': Linear.easeOut}" ng-scroll-duration="200" ng-scroll-animation-to="{'x': 500, 'ease': Linear.ease}" ng-scroll-offset="1700">	-->
        <div class="rikshaw">
          <figure>
            <img src="img/rikshaw.png" class="full-image">
          </figure>
        </div>
        <!--				<div class="cat" ng-scroll-animation-from="{'x':0, 'ease': Linear.easeOut}" ng-scroll-duration="100" ng-scroll-animation-to="{'x': -100, 'ease': Linear.easeNone}" ng-scroll-offset="2000">-->
        <div class="cat">
          <figure>
            <img src="img/gif/Cat-Hanging.gif" class="full-image">
          </figure>
        </div>

        <div class="ios">
          <h3>
            <span typed-js></span>
          </h3>
        </div>
        <div class="app-main">
          <div class="apps">
            <div class="typewriter">
              <figure>
                <img src="img/typewriter.png">
              </figure>
            </div>
            <div class="cont-right">
              <h4>apps</h4>
              <p>
                Apptually speaking, our idea of a love triangle includes UI and U(e)X.
              </p>
              <div class="text-center">
                <button class="btn btn-ouline btn-white" ng-click="showApp();">Click Here</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="black-white-lines">
      <div class="lines">
        <figure>
          <img src="img/bg-lines.png" class="full-image">
        </figure>
      </div>
      <div class="buregler1">
        <figure>
          <img src="img/buregler1.png" class="">
        </figure>
      </div>
      <div class="buregler2">
        <figure>
          <img src="img/buregler2.png" class="">
        </figure>
      </div>
      <div class="batman">
        <figure>
          <img src="img/batman.png" class="">
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="black-bg section5">
  <div class="blubs">
    <div class="bulb-1">
      <figure>
        <img src="img/marketing/bulbs-all.png" class="full-image">
      </figure>
    </div>
    <div class="bulb-2">
      <figure>
        <img src="img/marketing/bulbon.png" class="full-image">
      </figure>
    </div>
    <div class="bulb-socialss">
      <div class="bulb-facebook">
        <img src="img/marketing/FACEBOOK-BULBS.png" class="full-image">
      </div>
      <div class="bulb-insta">
        <img src="img/marketing/INSTA-BULBS.png" class="full-image">
      </div>
      <div class="bulb-pinterest">
        <img src="img/marketing/PINTREST-BULB.png" class="full-image">
      </div>
      <div class="bulb-twitter">
        <img src="img/marketing/TWITTER-BULB.png" class="full-image">
      </div>
      <div class="bulb-youtube">
        <img src="img/marketing/Youtube-BULB.png" class="full-image">
      </div>
    </div>
    <div class="conts">
      <div class="cont-center">
        <h4>digital marketing</h4>
        <p>
          Our Tingdom has surfed and survived quite a few social media sites. From Twitter to Tinder Pinterest our hashtagging skills are #awesome. </p>
        <div class="text-center margin-bottom">
          #FollowForFollow #LikeFor2KFollowers #ThisIsNotAScam
        </div>
        <div class="text-center">
          <button class="btn btn-ouline btn-white" ng-click="showMarketing();">Click Here</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="musical">
    <div class="cont-center">
      <h4>Videos</h4>
      <p class="text-center">Visual: Animated Ting light bulb dancing across screen. VO: “We’d tell you all about our filter effects and 2D edit skills but #BRBRendering”</p>
      <p class="text-center">Can't you tell?</p>
      <div class="text-center">
        <button class="btn btn-ouline" ng-click="showVideos();">Click Here</button>
      </div>
    </div>
    <div class="text-center yellow-lights">
      <figure>
        <img src="img/YELLOW-LIGHT.png">
      </figure>
    </div>
    <div class="text-center pianoo">
      <figure>
        <img src="img/pianoo.png">
      </figure>
    </div>
    <div class="tvs">
      <figure>
        <img src="img/gif/Tv-Left.gif" alt="music" class="left-image">
        <img src="img/gif/Tv-Right.gif" alt="music" class="right-image">
      </figure>
    </div>
  </div>
</section>
<section class="section8" id="hello">
  <div class="contact black-bg">
    <div class="hello">
      <div class="ting-hello">
        <figure>
          <img src="img/hello.png" class="full-image" alt="">
          <img src="img/gif/phone.gif" class="ring" alt="">
        </figure>
      </div>
      <div class="link-ting">
        <p>go back to <a href="http://ting.in/" target="_blank">ting.in</a></p>
      </div>
      <div class="address">
        <ul>
          <li>
            <h4>Mumbai</h4>
            <p>
              1308 Panchratna Building,
              <br> Opera House,
              <br> Charni Road,
              <br> Mumbai- 400 004
            </p>
            <p>
              <a href="tel:+919867597223">+91 98675 97223</a>
              <br><a href="tel:+919820282644"> +91 98202 82644</a>
            </p>
          </li>
          <li>
            <h4>Chennai</h4>
            <p>
              16, 3rd Main Road,
              <br> Seethammal Colony,
              <br> Alwarpet,
              <br> Chennai 600 018.
            </p>
            <p>
              <a href="tel:+9164570159">+91 6457 0159</a>
              <br><a href="tel:+919840488224"> +91 98404 88224</a>
            </p>
          </li>
          <li>
            <h4>Sydney</h4>
            <p>
              209, Harris Street,
              <br> Pyrmont,
              <br> NSW 2009,
              <br> Australia
            </p>
            <p>
              <a href="tel:+6180060400">+61 800 60 400</a>
              <br><a href="tel:+61425100047">+61 425 1000 47</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-yellow text-center">
      Copyright 2015 &copy; <a href="http://ting.in/" target="_blank">TING</a>
    </div>
  </footer>
</section>
