<section>
	<div class="star-bg">
		<div class="section1">
			<div class="animate-astronaut">
				<div class="donut-astronaut pull-right">
					<div class="donut">
						<figure>
							<img alt="donut" src="img/section1/donut.png">
						</figure>
					</div>
					<div class="magic-astro">
						<div class="letgo">
							<figure>
								<img alt="letgo" class="" src="img/section1/letgo.png">
							</figure>
						</div>
						<div class="astronaut">
							<figure>
								<img alt="astronaut" class="" src="img/section1/astronaut.png">
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="bulb-astroid">
				<div class="blub">
					<figure>
						<img alt="tingbulb" class="full-image" src="img/section1/bulbs.png">
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="clearfix"></div>
<section class="section2">
	<div class="buildings halfstar-bg">
		<div class="building" ng-scroll-animation-from="{'y':4000, 'ease': Linear.easeOut}" ng-scroll-animation-to="{'y': 230, 'ease': Linear.ease}" ng-scroll-duration="350" ng-scroll-offset="200">
			<img class="full-image" src="img/section2/house1.png">
		</div>
		<div class="building1" ng-scroll-animation-from="{'y':4000, 'ease': Linear.easeOut}" ng-scroll-animation-to="{'y':230, 'ease': Linear.ease}" ng-scroll-duration="550" ng-scroll-offset="200">
			<img class="full-image" src="img/section2/house2.png">
		</div>
		<div class="building2" ng-scroll-animation-from="{'y':4000, 'ease': Linear.easeOut}" ng-scroll-animation-to="{'y': 230, 'ease': Linear.ease}" ng-scroll-duration="650" ng-scroll-offset="200">
			<img class="full-image" src="img/section2/house4.png">
		</div>
		<div class="building3" ng-scroll-animation-from="{'y':4000, 'ease': Linear.easeOut}" ng-scroll-animation-to="{'y': 230, 'ease': Linear.ease}" ng-scroll-duration="650" ng-scroll-offset="200">
			<img class="full-image" src="img/section2/house31.png">
		</div>
	</div>
	<img class="full-image road-sofa" src="img/section2/road-sofa.jpg" ng-scroll-animation-from="{'y':300, 'ease': Linear.easeOut}" ng-scroll-animation-to="{'y':180, 'ease': Linear.ease}" ng-scroll-duration="200" ng-scroll-offset="200" />
	<div class="coutch" ng-scroll-animation-from="{'y': -4800, 'ease':Bounce.easeIn,'opactiy':0}" ng-scroll-animation-to="{'y': -200, 'ease':Bounce.easeIn,'opactiy':1}" ng-scroll-duration="650" ng-scroll-offset="200">
		<figure class="text-center">
			<img class="" src="img/section1/coutch.png">
		</figure>
	</div>
	<!-- <div class="ting-logo">
		<img src="img/section2/TING-LOGO.png" class="full-image">
	</div> -->
</section>
<section class="section3">
	<div class="road-bg onroad">
		<img class="full-image" src="img/section2/after-road.jpg" />
		<div class="taxi taxi1">
			<figure>
				<img src="img/section3/taxi2.png">
			</figure>
		</div>
		<div class="nav">
			<ul>
				<li>
					<a ng-click="showWebsite();">websites</a>
				</li>

				<li>
					<a ng-click="showApp();">apps</a>
				</li>

				<li>
					<a ng-click="showMarketing();">digital marketing</a>
				</li>

				<li>
					<a ng-click="showVideos();">videos</a>
				</li>

				<li>
					<a ng-click="gotoBottom();">hello</a>
				</li>
			</ul>
		</div>
		<!-- <div class="taxi taxi2" ng-scroll-animation-from="{'x':500, 'ease': Linear.easeOut}" ng-scroll-duration="400" ng-scroll-animation-to="{'x': -350, 'ease': Linear.easeOut}" ng-scroll-offset="1150"> -->
		<!-- <div class="taxi taxi2" ng-scroll-animation-from="{'x':-350, 'ease': Linear.SlowMo}" ng-scroll-duration="100" ng-scroll-animation-to="{'x': -375,'y':18, 'ease': Linear.SlowMo,'scale':0,'opacity':0,'rotation':-120}" ng-scroll-offset="1550"> -->
		<div class="taxi taxi3">
			<figure>
				<img src="img/section3/taxi.png">
			</figure>
		</div>
	</div>
	<div class="taxi taxi2" >
		<figure>
			<img src="img/gif/taxianimation.png" taxi-animation  class="taxiAnimation full-image">
		</figure>
	</div>
</section>
<section class="section4" toggle-class="active" trigger-element=".section4" toggle-element="#mainMenu" >
	<div class="letters-bg">
		<div class="hands">
			<figure class="hands-main">
				<img src="img/section4/hands.png">
			</figure>
			<figure class="hand-outside">
				<img src="img/section4/hand-outside.png">
			</figure>
			<figure class="hand-cap">
				<img src="img/section4/hand-cap.png">
			</figure>
		</div>
		<div class="">
			<div class="type-writer">
				<div class="yellow-paper">
					<figure>
						<img src="img/section4/paper-yellow.png">
					</figure>
				</div>
				<div class="cont-center">
					<h4>websites</h4>
					<p>We love making websites. We love making websites .We love making Websites. We love making websites. We love making websites. We love making websites .We love making Websites. We love making websites. We love making websites. We love making websites
						.We love making Websites. We love making websites.................... websites. </p>
					<p class="text-center">Can't you tell?</p>
					<div>
						<button class="btn btn-ouline" ng-click="showWebsite();">Click Here</button>
					</div>
				</div>
				<div class="rikshaw" ng-scroll-animation-from="{'x':0, 'ease': Linear.easeOut}" ng-scroll-duration="300" ng-scroll-animation-to="{'x': 500, 'ease': Linear.ease}" ng-scroll-offset="2050">
					<figure>
						<img src="img/section4/rikshaw.png" class="full-image">
					</figure>
				</div>
				<div class="cat">
					<figure>
						<img src="img/gif/Cat-Hanging.gif" class="full-image">
					</figure>
				</div>

				<div class="ios">
					<h3>
						<span typed-js></span>
					</h3>
				</div>
				<div class="app-main">
					<div class="apps">
						<div class="typewriter">
							<figure>
								<img src="img/section4/typewriter.png">
							</figure>
						</div>
						<div class="cont-right">
							<h4>apps</h4>
							<p>
								Apptually speaking, our idea of a love triangle includes UI and U(e)X.
							</p>
							<div class="text-center">
								<button class="btn btn-ouline btn-white" ng-click="showApp();">Click Here</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="lines" ng-scroll-animation-from="{'y':0, 'ease': Linear.ease}" ng-scroll-duration="1200" ng-scroll-animation-to="{'y': 0, 'ease': Linear.ease}" ng-scroll-offset="3000">
			<figure>
				<img src="img/section5/lines-top2.png" class="full-image">
			</figure>
		</div>
	</div>
</section>
<section class="section5" style="z-index:1;position:relative;">
	<div class="black-white-lines">
		<div class="lines" ng-scroll-animation-from="{'y':0, 'ease': Linear.ease}" ng-scroll-duration="1200" ng-scroll-animation-to="{'y': 0, 'ease': Linear.ease}" ng-scroll-offset="3000">
			<figure>
				<img src="img/section5/lines-top.jpg" class="full-image">
			</figure>
		</div>
		<div class="bugler-fatty buregler1" ng-scroll-animation-from="{'y':-50, 'ease': Linear.ease}" ng-scroll-duration="400" ng-scroll-animation-to="{'y':-780, 'ease': Linear.ease,}" ng-scroll-offset="4350">
			<figure>
				<img src="img/gif/Climbing-Buglar.gif" class="">
			</figure>
		</div>
		<div class="buregler2" ng-scroll-animation-from="{'x':0, 'ease': Linear.ease}" ng-scroll-duration="10" ng-scroll-animation-to="{'y':0, 'ease': Linear.ease,'opacity':0}" ng-scroll-offset="4060">
			<figure>
				<img src="img/gif/Shaking-Buglar.gif" class="">
			</figure>
		</div>
		<div class="batman-animation">
			<div class="batman" ng-scroll-animation-from="{'x':400, 'ease': Linear.ease}" ng-scroll-duration="800" ng-scroll-animation-to="{'x': -1400,'y':-600, 'ease': Linear.ease}" ng-scroll-offset="3850">
				<figure>
					<img src="img/section5/batman.png" class="">
				</figure>
			</div>
		</div>
	</div>
</section>
<section class="black-bg section6">
	<div class="blubs">
		<div class="bulb-1" ng-scroll-animation-from="{'y':-500, 'ease': Linear.ease}" ng-scroll-duration="220" ng-scroll-animation-to="{'y':0, 'ease': Linear.ease}" ng-scroll-offset="4450">
			<figure>
				<img src="img/section6/bulbs-all.png" class="full-image">
			</figure>
		</div>
		<div class="bulb-2" ng-scroll-animation-from="{'y':-1000, 'ease': Linear.ease}" ng-scroll-duration="380" ng-scroll-animation-to="{'y':0, 'ease': Linear.ease}" ng-scroll-offset="4700">
			<figure>
				<img src="img/section6/bulbon.png" class="full-image">
			</figure>
		</div>
		<div class="bulb-socialss" style="position:absolute;top:0;width: 100%;" ng-scroll-animation-from="{'y':-800, 'ease': Linear.ease}" ng-scroll-duration="280" ng-scroll-animation-to="{'y':0, 'ease': Linear.ease}" ng-scroll-offset="4600">
			<div class="bulb-facebook">
				<img src="img/section6/FACEBOOK-BULBS.png" class="full-image">
			</div>
			<div class="bulb-insta">
				<img src="img/section6/INSTA-BULBS.png" class="full-image">
			</div>
			<div class="bulb-pinterest">
				<img src="img/section6/PINTREST-BULB.png" class="full-image">
			</div>
			<div class="bulb-twitter">
				<img src="img/section6/TWITTER-BULB.png" class="full-image">
			</div>
			<div class="bulb-youtube">
				<img src="img/section6/Youtube-BULB.png" class="full-image">
			</div>
		</div>
		<div class="conts">
			<div class="cont-center">
				<h4>digital marketing</h4>
				<p>
					Our Tingdom has surfed and survived quite a few social media sites. From Twitter to Tinder Pinterest our hashtagging skills are #awesome. </p>
				<div class="text-center margin-bottom">
					#FollowForFollow #LikeFor2KFollowers #ThisIsNotAScam
				</div>
				<div class="text-center">
					<button class="btn btn-ouline btn-white" ng-click="showMarketing();">Click Here</button>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section7">
	<div class="musical">
		<div class="cont-center" ng-scroll-animation-from="{'y':0, 'ease': Bounce.easeOut,'opacity':0}" ng-scroll-duration="300" ng-scroll-animation-to="{'y':0, 'ease': Bounce.easeOut,'opacity':1}" ng-scroll-offset="5400">
			<h4>Videos</h4>
			<p class="text-center">Visual: Animated Ting light bulb dancing across screen. VO: “We’d tell you all about our filter effects and 2D edit skills but #BRBRendering”</p>
			<p class="text-center">Can't you tell?</p>
			<div class="text-center">
				<button class="btn btn-ouline" ng-click="showVideos();">Click Here</button>
			</div>
		</div>
		<div class="text-center yellow-lights" ng-scroll-animation-from="{'y':-670,x:-170, 'ease': Linear.ease,'scale':0}" ng-scroll-duration="950" ng-scroll-animation-to="{'y':10,x:-8, 'ease': Linear.ease,'scale':1}" ng-scroll-offset="5200">
			<!--		<div class="text-center yellow-lights">-->
			<figure>
				<img src="img/section7/YELLOW-LIGHT.png">
			</figure>
		</div>
		<div class="text-center pianoo">
			<figure>
				<img src="img/section7/pianoo.png" ng-scroll-animation-from="{'y':0, 'ease': Bounce.easeOut,'opacity':0}" ng-scroll-duration="600" ng-scroll-animation-to="{'y':0, 'ease': Bounce.easeOut,'opacity':1}" ng-scroll-offset="5800">
			</figure>
		</div>
		<div class="tvs">
			<figure>
				<img src="img/section7/Tv-Left.gif" alt="music" class="">
				<img src="img/section7/Tv-Right.gif" alt="music" class="pull-right">
			</figure>
		</div>
	</div>
</section>
<section class="section8" ng-style="sec8css" id="hello">
	<div class="contact black-bg">
		<div class="hello">
			<div class="ting-hello">
				<img src="img/section8/hello.png" class="full-image hello-img" alt="">
				<img src="img/gif/phone.gif" class="ring" alt="">
			</div>
			<div class="link-ting">
				<p>go back to <a href="http://ting.in/" target="_blank">ting.in</a></p>
			</div>
			<div class="address">
				<ul>
					<li>
						<h4>Mumbai</h4>
						<p>
							1308 Panchratna Building,
							<br> Opera House,
							<br> Charni Road,
							<br> Mumbai- 400 004
						</p>
						<p>
                            <a href="tel:+919867597223">+91 98675 97223</a>
                            <br><a href="tel:+919820282644"> +91 98202 82644</a>
						</p>
					</li>
					<li>
						<h4>Chennai</h4>
						<p>
							16, 3rd Main Road,
							<br> Seethammal Colony,
							<br> Alwarpet,
							<br> Chennai 600 018.
						</p>
						<p>
							<a href="tel:+9164570159">+91 64570159</a>
                            <br><a href="tel:+919840488224"> +91 98404 88224</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<footer>
		<div class="footer-yellow text-center">
			Copyright 2015 &copy; <a href="http://ting.in/" target="_blank">TING</a>
		</div>
	</footer>
</section>
