<div class="paper-inner-bg" ng-controller="HomeCtrl">
  <div class="website container">
    <div class="head">
      <h2>videos
        <h2>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-6" ng-repeat="items in videos">
        <div class="flex-box">
          <div class="projects">
            <div class="box">
              <div youtube code="items.videourl"></div>
            </div>
            <div class="main">
              <h4 class="text-center">{{items.title}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="msg">
<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <h4>
        Sorry there! we're updating our work, we'll be done soon!

      </h4>
      <h4>Meanwhile, admire our homepage. Better still, contact us.</h4>
    </div>
  </div>
</div>

  </div>-->
  </div>
</div>