<div class="paper-bg padding">
	<div class="website container">
		<div class="head">
			<h2>digital marketing<h2>
		</div>
		<div class="row">
			<div class="col-md-3 min-height" ng-repeat="items in market">
				<div class="box">
					<img src="{{items.img}}" class="img-responsive">
				</div>
				<div class="main social-icons">
					<i class="fa fa-facebook"></i>
					<i class="fa fa-twitter"></i>
					<i class="fa fa-pinterest-p"></i>
					<i class="fa fa-linkedin"></i>
					<i class="fa fa-youtube-play"></i>
					<i class="fa fa-google-plus"></i>
					<i class="fa fa-instagram"></i>
				</div>
			</div>
		</div>
	<div class="col-md-12">
				<div class="arrow-down pull-right">
			<i class="fa fa-angle-down"></i>
			</div>
		</div>
	</div>
</div>