<div class="paper-bg">
	<div class="website container">
		<div class="head">
			<h2>apps</h2>
		</div>
		<div class="row-flex">
			<div class="col-flex" ng-repeat="items in app">
				<div class="flex-box">
					<div class="box">
						<img src="{{items.img}}" class="img-responsive">
					</div>
					<div class="main">
						<h4 class="text-center">{{items.title}}</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="arrow-down pull-right">
			<i class="fa fa-angle-down"></i>
			</div>
		</div>
	</div>
</div>