<div class="paper-inner-bg">
    <div class="website container">
        <div class="head">
            <h2>apps</h2>
        </div>
        <div class="row" ng-repeat="apps in allapps">
            <div class="col-md-3 col-sm-6" ng-repeat="items in apps">
                <div class="flex-box">
                    <div class="boxs">
                        <img ng-src="{{items.image | serverimage}}" class="img-responsive">
                    </div>
                    <div class="main">
                        <h4 class="text-center">{{items.title}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-12">
            <div class="arrow-down pull-right" ng-click="getMoreApps();">
                <i class="fa fa-angle-down"></i>
            </div>
        </div> -->
    </div>
</div>
