//animation
.animate-astronaut {
	@include animation(translate-all-astro 100s linear 0s infinite);
	.donut-astronaut {
		@include animation(translate-donut 80s linear 0s infinite alternate);
	}
	.astronaut {
		@include animation(translate-astronaut 40s linear 0s infinite alternate);
	}
	.letgo {
		@include animation(fadein 10s ease 0s infinite alternate);
	}
}

@include keyframes (translate-rotate-bg) {
	from {
		background-position: top right;
	}
	to {
		background-position: top left;
	}
}

//fadein
@include keyframes (fadein) {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

//astronaut
@include keyframes (translate-astronaut) {
	0% {
		@include transform(translate(-50%));
	}
	100% {
		@include transform( translateY(-0));
	}
}

//donut
@include keyframes (translate-donut) {
	0% {
		@include transform(rotate(0deg));
	}
	10% {
		@include transform(rotate(-30deg));
	}
	50% {
		@include transform(rotate(-90deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}

//translate-all-astro
@include keyframes (translate-all-astro) {
	0% {
		@include transform( translate(35%, 10%));
	}
	20% {
		@include transform( translate(10%, 0%) rotate(-10deg));
	}
	40% {
		@include transform( translate(-15%, 10%) rotate(5deg));
	}
	60% {
		@include transform( translate(-40%, 20) rotate(5deg));
	}
	100% {
		@include transform( translate(-100%, 0) rotate(-20deg));
	}
}

//bulb Animation
.blub img {
	@include animation(moving-bulb 10s linear 0s infinite);
}

@include keyframes (moving-bulb) {
	0% {
		@include transform( translate(0px, 0));
	}
	50% {
		@include transform( translate(-20px, 0));
	}
	100% {
		@include transform( translate(0px, 0));
	}
}

//taxi linear animation
.taxi3 {
	@include animation(moving-taxi 20s linear 0s infinite);
}

@include keyframes (moving-taxi) {
	0% {
		@include transform(translate(700%, 0%));
	}
	100% {
		@include transform(translate(-700%, 0%));
	}
}

.taxi1 {
	@include animation(moving-taxi-1 20s linear 0s infinite);
}

@include keyframes (moving-taxi-1) {
	0% {
		@include transform(translate(-500%, 0%));
	}
	100% {
		@include transform(translate(900%, 0%));
	}
}

//type cusor css
.typed-cursor {
	opacity: 1;
	@include animation(blink 0.7s infinite);
}

@include keyframes (blink) {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}