//animation
.animate-astronaut {
	@include animation(translate-all-astro 100s linear 0s infinite);
	.donut-astronaut {
		@include animation(translate-donut 80s linear 0s infinite alternate);
	}
	.astronaut {
		@include animation(translate-astronaut 40s linear 0s infinite alternate);
	}
	.letgo {
		@include animation(fadein 10s ease 0s infinite alternate);
	}
}

//.onroad {
//	.taxi.taxi3 {
//		@include animation(taxi 15s linear 0s infinite);
//	}
//}
//
//.batman {
//	@include animation(translate-batman 15s linear 0s infinite);
//}

@include keyframes (translate-rotate-bg) {
	from {
		background-position: top right;
	}
	to {
		background-position: top left;
	}
}

//fadein
@include keyframes (fadein) {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

//astronaut
@include keyframes (translate-astronaut) {
	0% {
		@include transform(translate(-50%));
	}
	100% {
		@include transform( translateY(-0));
	}
}

//donut
@include keyframes (translate-donut) {
	0% {
		@include transform(rotate(0deg));
	}
	10% {
		@include transform(rotate(-30deg));
	}
	50% {
		@include transform(rotate(-90deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}

//translate-all-astro
@include keyframes (translate-all-astro) {
	0% {
		@include transform( translate(35%, 10%));
	}
	20% {
		@include transform( translate(10%, 0%) rotate(-10deg));
	}
	40% {
		@include transform( translate(-15%, 10%) rotate(5deg));
	}
	60% {
		@include transform( translate(-40%, 20) rotate(5deg));
	}
	100% {
		@include transform( translate(-100%, 0) rotate(-20deg));
	}
}

//taxi linear animation
@include keyframes (taxi) {
	0% {
		@include transform( translate(600%, 0%));
	}
	100% {
		@include transform(translate(600%, 0%));
	}
}

//batman
@include keyframes (translate-batman) {
	0% {
//		@include transform( translate(35%, 10%));
		top:20;
	}
	100% {
//		@include transform( translate(30%, 0%) rotate(-10deg));
		left:-600;
	}
}

//.blub img {
//	@include animation(moving-bulb 10s linear 0s infinite);
//}
//
//@include keyframes (moving-bulb) {
//	0% {
//		@include transform( translate(0px, 0));
//	}
//	50% {
//		@include transform( translate(-20px, 0));
//	}
//	100% {
//		@include transform( translate(0px, 0));
//	}
//}