@media (max-width:767px) {
  .section8 {
    min-height: 1762px;
    position: relative;
    .contact {
      position: relative;
      top: 50%;
			left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
